@value theme: "../../../theme.module.css";
@value (card-width, card-height, board-color-dark, card-margin) from theme;

.weatherBox {
    min-height: card-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: board-color-dark;
    margin: 0 5rem
}

.weatherBox * {
    margin: card-margin;
}