@value theme: "../../../theme.module.css";
@value (card-width, card-height, board-color-dark, card-margin) from theme;
@value (card) from "../Card/Card.module.css";

/**/

.weatherBox {
    composes: line from '../Battlefield/BattlefieldLine/BattlefieldLine.module.css';
    background-color: board-color-dark;
    margin: 0 2rem;
}

.weatherBox .card {
    margin: card-margin;
}