@value theme: "../../theme.module.css";
@value (board-color-base) from theme;
@value (cardPreview) from "./CardPreview/CardPreview.module.css";

/**/

.board {
    height: 100vh;
    width: 100vw;
    background-color: board-color-base;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.scores {
    grid-area: 1 / 1 / 3 / 2;
}

.battlefield {
    grid-area: 1 / 2 / 2 / 3;
}

.playerHand {
    grid-area: 2 / 2 / 3 / 3;
}

/* Deck zone */

.decks {
    grid-area: 1 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.cardPreviewZone {
    display: flex;
    flex: 1;
}

.cardPreviewZone .cardPreview {
    width: 66%;
}

.deckLine {
    display: flex;
    justify-content: space-around;
}