@value theme: "../../../theme.module.css";
@value (card-height, card-margin) from theme;

/**/

.playerHand {
    composes: line from '../Battlefield/BattlefieldLine/BattlefieldLine.module.css';
    padding: 1rem;
}

.playerHand * {
    margin: card-margin;
}