@value theme: "../../../theme.module.css";
@value (card-height, card-margin) from theme;
@value (card) from "../Card/Card.module.css";

/**/

.playerHand {
    composes: line from '../Battlefield/BattlefieldLine/BattlefieldLine.module.css';
    padding: 1rem;
}

.playerHand .card {
    margin: card-margin;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.33);
}