@value theme: "../../../theme.module.css";
@value (card-width, card-height, card-hero-color) from theme;
.card {
    height: card-height;
    width: card-width;
    border: solid black 2px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.selected {
    background-color: lightblue;
}

.selectable {
    cursor: pointer;
}

.selectable:hover:not(.selected) {
    background-color: azure;
}

.strength {
    height: 1rem;
    width: 1rem;
    font-size: small;
    padding: 0.1rem;
    text-align: center;
    border: solid 1px black;
    border-radius: 100%;
    margin: 0;
}

.strength.bonus {
    color: green;
    border-color: green;
}

.strength.malus {
    color: red;
    border-color: red;
}

.title {
    font-size: smaller;
    text-align: center;
    margin: 0;
    width: 95%;
    overflow: hidden;
    text-overflow: '-';
}

.type {
    font-size: x-small;
    font-style: italic;
    margin: 0;
}

.hero .strength,
.hero .title {
    border-color: card-hero-color;
    color: card-hero-color;
}